.question-main {
  display: grid;
  grid-template-rows: 40% 50%;
  grid-row-gap: 20px;
}

.description {
  background-color: white;
  right: 0;
  margin: 30px auto 0 auto;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  font-size: 30px;
  cursor: url("/static/css/config/codescan-color.cur"), pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
