<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        get_problems();
      });
      function get_problems() {
        $.ajax({
          type: "GET",
          url: "/questions",
          data: {},
          success: function (response) {
            let doc = JSON.parse(response);
            console.log(doc);
            for (let i = 0; i < doc.length; i++) {
              let title = doc[i][1];
              let content = doc[i][2];
              let questionNum = doc[i][0];
              let temp_html = `<li class="question__item">
              <a href="/questions/${questionNum}">
                <span class="question__title">Question. ${title}</span>
                <p class="question__content">
                  ${content}
                </p>
                <span class="question__hashtag"></span>
              </a>
            </li>`;
              $(".question__list").append(temp_html);
            }
          },
        });
      }
      // function save_problems() {
      //   let title = $("#question-add-form__title").val();
      //   let comment = $("#question-add-form__content").val();
      //   console.log(title, comment);
      //   $.ajax({
      //     type: "POST",
      //     url: "/questions",
      //     data: { title_give: title, comment_give: comment },
      //     success: function (response) {
      //       console.log(response);
      //       window.location.reload();
      //     },
      //   });
      // }

      // function filter() {
      //   let search = document
      //     .getElementById("search-input")
      //     .value.toLowerCase();
      //   let problem = document.getElementsByClassName("question__item");
      //   for (let i = 0; i < problem.length; i++) {
      //     problem_title = problem[i].getElementsByClassName("question__title");
      //     if (problem_title[0].innerHTML.toLowerCase().includes(search)) {
      //       problem[i].style.display = "flex";
      //     } else {
      //       problem[i].style.display = "none";
      //     }
      //   }
      // }
    </script>

    {%with messages = get_flashed_messages()%} {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%} {%endwith%}
    <title>{{pageTitle}} | Code Scanner</title>
  </head>
  <body>
    <section class="modal">
      <form class="question-add-form" method="post" action="/questions">
        <label for="question-add-form__title">Question Title</label>
        <input
          type="text"
          name="question-add-form__title"
          id="question-add-form__title"
          placeholder="제목을 입력하세요."
          maxlength="50"
          required
        />
        <label for="question-add-form__content">Description</label>
        <textarea
          type="text"
          id="question-add-form__content"
          name="question-add-form__content"
          placeholder="설명해주세요!"
          required
        ></textarea>
        <label for="question-add-form__hashtag">Hashtag</label>
        <input
          type="text"
          id="question-add-form__hashtag"
          name="question-add-form__hashtag"
          placeholder="Hashtag는 콤마(,)로 구분 됩니다"
          required
        />
        <div class="form-btn-box">
          <input type="submit" value="Submit" />
          <input type="button" value="Cancel" />
        </div>
      </form>
    </section>
    <div class="main-screen">
      <header class="screen-header">
        <a href="/" class="logo">
          <img src="/static/imgs/scanner.png" class="logo__img" />
          <span class="logo__title">Code Scanner</span>
        </a>
        <nav class="header__nav-bar">
          <ul class="nav-bar__icon-list">
            {% if session.get('login_flag') %}
            <li class="nav-bar__icon-item">
              <a href="/users/{{session['_id']}}" class="profile-icon">
                <i class="fa-solid fa-user"></i>
              </a>
            </li>
            <li class="nav-bar__icon-item">
              <a href="/logout" class="sign-out">
                <i class="fa-solid fa-right-from-bracket"></i>
              </a>
            </li>

            {% else %}
            <li class="nav-bar__icon-item">
              <a href="/join" class="join">
                <i class="fa-solid fa-user-plus"></i>
              </a>
            </li>
            <li class="nav-bar__icon-item">
              <a href="/login" class="sign-in">
                <i class="fa-solid fa-right-to-bracket"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </header>
      <main class="home">
        <form class="search-form">
          <div class="search-box">
            <input
              type="text"
              name="search-input"
              id="search-input"
              placeholder="Search"
            />
            <button>
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
        <section class="question">
          <ul class="question__list">
            {% if session.get('login_flag') %}
            <li class="question-add"><div class="plus-box">+</div></li>
            {% endif %}
            <!-- <li class="question__item">
              <a href="#">
                <span class="question__title">Question. 1</span>
                <p class="question__content">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Eligendi assumenda rem provident. Autem cupiditate possimus
                  ducimus voluptatibus iste totam vitae ut veritatis sed
                  repellat, quod, quia ipsum doloribus in doloremque.
                </p>
                <span class="question__hashtag">#Algorithm #Sort</span>
              </a>
            </li> -->
          </ul>
        </section>
      </main>
    </div>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/modal.js"></script>
    <script
      src="https://kit.fontawesome.com/d1f609d41d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
