<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../static/css/style.css" />
    {%with messages = get_flashed_messages()%} {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%} {%endwith%}
    <title>{{pageTitle}} | Code Scanner</title>
  </head>
  <body>
    <div class="main-screen">
      <header class="screen-header">
        <a href="/" class="logo">
          <img src="../static/imgs/scanner.png" class="logo__img" />
          <span class="logo__title">Code Scanner</span>
        </a>
        <nav class="header__nav-bar">
          <ul class="nav-bar__icon-list">
            <li class="nav-bar__icon-item">
              <a href="/join" class="join">
                <i class="fa-solid fa-user-plus"></i>
              </a>
            </li>
            <li class="nav-bar__icon-item">
              <a href="/login" class="sign-in">
                <i class="fa-solid fa-right-to-bracket"></i>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="join">
        <form class="join-form" method="post">
          <div class="join-form__id">
            <label for="join-id">ID</label>
            <input type="text" name="join-id" id="join-id" required />
          </div>
          <div class="join-form__pw">
            <label for="join-pw">PASSWORD</label>
            <input type="password" name="join-pw" id="join-pw" required />
          </div>
          <div class="join-form__pw-confirm">
            <label for="join-confirm">CONFIRM</label>
            <input
              type="password"
              name="join-confirm"
              id="join-confirm"
              required
            />
          </div>
          <div class="join-form__username">
            <label for="join-username">USERNAME</label>
            <input
              type="text"
              name="join-username"
              id="join-username"
              required
            />
          </div>
          <div class="join-form__email">
            <label for="join-email">EMAIL</label>
            <input type="email" name="join-email" id="join-email" required />
          </div>

          <input type="submit" value="Create" />
        </form>
      </main>
    </div>
    <script src="../static/js/modal.js"></script>
    <script
      src="https://kit.fontawesome.com/d1f609d41d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
